section
    .container
        .row
            .col-lg-9.text-sm-space.order-2
                ul.row.case-card-list
                    li.col-md-6(data-aos="fade-up" data-aos-duration="800")
                        .img-c
                            img(src="assets/images/case/img-1.png", alt="img")
                        h5 The Department of Health and Human Services 
                        button.bttn-2 View Case Study
                    li.col-md-6(data-aos="fade-up" data-aos-duration="800")
                        .img-c
                            img(src="assets/images/case/img-2.png", alt="img")
                        h5 The Department of Health and Human Services 
                        button.bttn-2 View Case Study
                    li.col-md-6(data-aos="fade-up" data-aos-duration="800")
                        .img-c
                            img(src="assets/images/case/img-3.png", alt="img")
                        h5 The Department of Health and Human Services 
                        button.bttn-2 View Case Study
                    li.col-md-6(data-aos="fade-up" data-aos-duration="800")
                        .img-c
                            img(src="assets/images/case/img-4.png", alt="img")
                        h5 The Department of Health and Human Services 
                        button.bttn-2 View Case Study
                    li.col-md-6(data-aos="fade-up" data-aos-duration="800")
                        .img-c
                            img(src="assets/images/case/img-5.png", alt="img")
                        h5 The Department of Health and Human Services 
                        button.bttn-2 View Case Study
                    li.col-md-6(data-aos="fade-up" data-aos-duration="800")
                        .img-c
                            img(src="assets/images/case/img-6.png", alt="img")
                        h5 The Department of Health and Human Services 
                        button.bttn-2 View Case Study

            .col-lg-2.text-sm-space.order-lg-2.offset-lg-1
                ul.side-menu.js-right-sticky
                    li.active(data-aos="fade-up" data-aos-duration="800")
                        a(href="case-studies.html") Case Studies
                    li(data-aos="fade-up" data-aos-duration="800")
                        a(href="whitepapers.html") Whitepapers
                    li(data-aos="fade-up" data-aos-duration="800")
                        a(href="blogs.html") Blogs
                    li(data-aos="fade-up" data-aos-duration="800")
                        a(href="news-media.html") News and Media
                    li(data-aos="fade-up" data-aos-duration="800")
                        a(href="javascript:void(0)") Events
                    li(data-aos="fade-up" data-aos-duration="800")
                        a(href="archived.html") Archived