/* =============================================
		body Fonts
============================================= */


body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-color: $w;

}

ul,
ol {
  list-style-type: none;
}

.container {
  &--1350 {
    @include bp("desktop-1200") {
      max-width: 1350px;
    }
  }
}

.op-1 {
  opacity: 1 !important;
}

.fnt-300 {
  font-weight: 300 !important;
}

.fnt-500 {
  font-weight: 500 !important;
}

.fnt-700 {
  font-weight: 700 !important;
}

.fnt-800 {
  font-weight: 800 !important;
}

.fnt-inherit {
  font-size: inherit !important;
}

.text-normal {
  text-transform: initial !important;
}

.lh-initial {
  line-height: initial !important;
}

.webpack-diagram {
  width: 50%;
  max-height: auto;
}
