@import 'bootstrap/bootstrap';
// @import "semantic-sticky";

//Slick
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css');

//AOS
@import url('https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css');

@import 'common';
@import 'global';