//Page wise stylings
@import "banner";
@import "home";
@import "consulting";
@import "career";
@import "career-details";
@import "contact";
@import "news";
@import "case-study";
@import "whitepapers";
@import "why-us";
@import "blogs";
@import "news-details";
@import "archived";
