.sec-banner {
    padding: 175px 0 50px;

    .section-desc {
        margin: 0 auto 80px;
    }

    .img-c {
        height: auto;
        width: 100%;

        img {
            height: auto;
            width: 100%;
        }
    }

    @media(max-width: 991px) {
        padding: 105px 0 30px;
    }

    @media(max-width: 767.9px) {
        padding: 85px 0 30px;

        .section-desc {
            margin: 0;
            margin-bottom: 25px;
        }

        .img-c {
            height: 240px;

            img {
                object-fit: cover;
                height: 100%;
            }
        }
    }
}

.sec-banner-bc {
    padding: 105px 0 40px;

    .section-desc {
        margin: 0 auto 80px;
        max-width: 100%;
    }

    .img-c {
        height: auto;
        width: 100%;

        img {
            height: auto;
            width: 100%;
        }
    }

    .breadcrumbs {
        margin-bottom: 50px;
    }

    @media(max-width: 767.9px) {
        padding: 65px 0 30px;

        .section-desc {
            margin: 0;
            margin-bottom: 25px;
        }

        .img-c {
            height: auto;

            img {
                object-fit: cover;
                height: 100%;
            }
        }

        .breadcrumbs {
            margin-bottom: 30px;
        }
    }
}

.banner-box {
    padding: 50px;
    background-color: #f5f5f5;
    border-radius: 15px;

    h1 {
        margin-bottom: 25px;
    }
    
    .section-desc {
        margin: 0;
    }
    
    @media(max-width: 991.9px) {
        margin: auto;
        width: 90%;
        padding: 25px 10px;

        h1 {
            margin-bottom: 15px;
        }

        a {
            margin-top: 15px;
        }
    }
}