.job-card {
    padding: 30px;
    border: 1px solid rgba(79, 74, 210, 0.2);
    border-radius: 4px;
    margin-bottom: 20px;
    width: 100%;

    h5 {
        color: #40baca;
        margin-bottom: 10px;
    }
    
    h6 {
        color: #333333;
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 20px;
        line-height: 1.3;
    }

    p {
        color: #8a91aa;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.66;
        padding-right: 45px;
    }

    &.text {
        border: none;
        padding: 0;
        max-width: 270px;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin: auto;
        
        h6 {
            font-size: 31px;
            margin-bottom: 15px;
            font-weight: 300;
        }

        p {
            color: #8a91aa;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.5;
            padding: 0;
        }
    }
    
    @media(max-width: 767.9px) {
        padding: 20px;
    
        h6 {
            font-size: 18px;
            margin-bottom: 15px;
        }
    
        p {
            font-size: 14px;
            margin-bottom: 15px;
            padding-right: 0;
        }
    
        &.text {
            padding: 20px 0;
        }
    }
}

.how-work-list {
    display: flex;
    position: relative;
    justify-content: flex-end;

    .line {
        width: 100%;
        position: absolute;
        height: 190px;
        // background-image: url('../assets/images/career/bg-line.svg');
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: 20px;
        z-index: -1;
    }

    li {
        width: 165px;
        text-align: center;

        .number {
            color: $blue;
            font-size: 16px;
            font-weight: 600;
            line-height: 40px;
            margin: 0 auto 17px;
            width: 40px;
            border: 2px solid $blue;
            background-color: $w;
            border-radius: 50%;
            height: 40px;
            display: flex;
            justify-content: center;
        }
        
        h6 {
            color: #333333;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 17px;
        }

        .desc {
            color: $sec-color;
            font-size: 15px;
            font-weight: 400;
            line-height: 1.8;
        }

        &:nth-child(1) {
            margin-right: 50px;
        }

        &:nth-child(2) {
            margin-top: 178px;
            margin-right: 70px;
        }

        &:nth-child(3) {
            margin-top: 74px;
            margin-right: 40px;
        }
    }
    
    @media(max-width: 767px) {
        display: block;
    
        .line {
            display: none;
        }
    
        li {
            width: 100%;
            text-align: center;
            
            &:nth-child(1),
            &:nth-child(2) {
                margin: 0 auto 30px;
            }

            &:nth-child(3) {
                margin: 0 auto;
            }
    
            .number {
                font-size: 14px;
                line-height: 35px;
                margin: 0 auto 8px;
                width: 35px;
                height: 35px;
            }
            
            h6 {
                font-size: 18px;
                margin-bottom: 5px;
            }
    
            .desc {
                font-size: 14px;
            }
        }
    }
}

.result-stat {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: -25px;
    margin-bottom: 60px;
    
    span {
        color: #40baca;
        font-weight: 500;
    }
    
    @media(max-width: 991.9px) {
        margin-top: 0;
        margin-bottom: 30px;
    }
}

.sec-activities {
    padding: 40px 0 10px;

    .section-desc {
        margin-bottom: 0;
    }

    .img-c {
        width: 100%;
        margin-bottom: 20px;
        height: 295px;
        border-radius: 4px;
        overflow: hidden;
        position: relative;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.75);
            opacity: 0;
            transition: all ease 0.3s;
        }
        
        .desc {
            color: #ffffff;
            font-size: 20px;
            font-weight: 600;
            line-height: 27px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            z-index: 1;
            width: 90%;
            max-width: 265px;
            transition: opacity ease 0.3s;
            text-align: center;
            opacity: 0;
        }
        
        &:hover {
            &:after {
                opacity: 1;
            }
            
            .desc {
                opacity: 1;
            }

        }
    }
    
    .text {
        height: 295px;
        border-radius: 4px;
        background-color: #f5f5f5;
        padding: 55px 80px 20px 25px;
    }
    
    @media(max-width: 991.9px) {
        padding: 30px 0 10px;
    
        .section-desc {
            margin-bottom: 0;
        }
    
        .img-c {
            height: auto;
            
            img {
                height: auto;
                object-fit: contain;
            }
            
            .desc {
                font-size: 16px;
                line-height: 20px;
            }
        }
        
        .text {
            height: auto;
            padding: 30px;
            margin-bottom: 20px;
        }

    }
}