.case-card-list {
    li {
        margin-bottom: 80px;

        .img-c {
            width: 100%;
            height: 325px;
            margin-bottom: 30px;
            border-radius: 5px;
            overflow: hidden;

            img {
                height: 100%;
            }
        }

        h5 {
            margin-bottom: 18px;
            color: #333333;
            max-width: 335px;
        }
    }
    
    @media(max-width: 767px) {
        li {
            margin-bottom: 40px;
    
            .img-c {
                height: auto;
                margin-bottom: 20px;
            }
    
            h5 {
                margin-bottom: 15px;
                max-width: 100%;
            }
        }

    }
}