.sec-consult  {
    padding: 40px 0 80px;

    h4 {
        margin-bottom: 35px;
    }

    h5 {
        margin-bottom: 30px;
    }

    .text-desc {
        margin-bottom: 15px;
        font-size: 15px;
    }

    .img-c {
        width: 75%;

        img {
            width: 100%;
        }
    }

    .consult-list {
        li {
            margin: 60px 0;
            display: flex;

            &:last-child {
                margin-bottom: 0;
            }

            h5 {
                margin-bottom: 20px;
            }

            .text-desc {
                margin-bottom: 0;
                font-size: 15px;
            }

            .img-c {
                min-width: 270px;
                height: 265px;
                margin-right: 30px;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }
    
    @media(max-width: 991px) {
        padding: 30px 0;

        h4 {
            margin-bottom: 20px;
        }
    
        h5 {
            margin-bottom: 10px;
        }
    
        .text-desc {
            margin-bottom: 25px;
            font-size: 15px;
        }

        .img-c {
            width: 100%;
        }
    
        .consult-list {
            li {
                margin: 40px 0;
                display: block;
    
                h5 {
                    margin-bottom: 10px;
                }
    
                .text-desc {
                    font-size: 14px;
                }
    
                .img-c {
                    min-width: 270px;
                    height: 240px;
                    margin-right: 0;
                    width: 100%;
                    margin-bottom: 15px;
                }
            }
        }

    }
}

.sub-box {
    .container {
        padding: 60px;
        background-color: #5b57cb;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .text-desc{
        margin: 0;
        color: rgba(255, 255, 255, 0.8);
    }

    .form-group {
        position: relative;
        width: 100%;
        max-width: 475px;
        margin: auto;

        input {
            width: 100%;
            max-width: 475px;
            height: 50px;
            padding: 0px 140px 0 20px;
            font-size: 18px;
            color: #000000;
            border-radius: 4px;
            border: none;

            &::placeholder {
                color: rgba(138, 145, 170, 0.49);
                font-size: 14px;
                font-weight: 400;
            }
        }
        
        button {
            height: 50px;
            padding: 10px 30px;
            color: #4f4ad2;
            background-color: transparent;
            font-size: 14px;
            font-weight: 600;
            line-height: 1.6;
            border-radius: 4px;
            border: none;
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
        }
    }
    
    @media(max-width: 991.9px) {
        .container {
            padding: 35px;
            text-align: center;
        }
        
        .text-desc {
            max-width: 100%;
            margin: 0 auto 20px;
        }
    
        .form-group {
            max-width: 100%;
    
            input {
                max-width: 100%;
                height: 40px;
                padding: 10px 120px 10px 10px;
                font-size: 16px;
    
                &::placeholder {
                    font-size: 12px;
                }
            }
            
            button {
                height: 40px;
                padding: 10px 20px;
                font-size: 13px;
            }
        }

    }

    @media(min-width: 768px) and (max-width: 991.9px) {
        .container {
            padding: 45px;
            text-align: left;
        }
    }
}

.side-menu {
    margin-left: -30px;
    width: 230px;
    position: absolute;
    right: 0;
    top: 0;

    li {
        padding-left: 25px;
        margin-bottom: 20px;
        position: relative;
        
        a {
            padding-bottom: 20px;
            border-bottom: 1px dashed #b9b9b9;
            color: #777476;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.5;
        }

        .text-desc {
            margin-bottom: 0;
        }

        &::after {
            content: "";
            position: absolute;
            top: 8px;
            left: 0;
            height: 7px;
            width: 7px;
            border-right: 1px solid #000000;
            border-bottom: 1px solid #000000;
            transform: rotate(-45deg);
        }

        &:last-child {
            margin-bottom: 0;

            a {
                border: none;
            }
        }

        &.active {
            a {
                color: #000000;
                font-weight: 600;
            }
        }
    }

    &.sticky {
        @media only screen and (min-width: 992px) {
            position: fixed;
            right: calc((100% - 960px) / 2);
            top: 110px;
        }
        
        @media only screen and (min-width: 1200px) {
            right: calc(10% / 2);
            top: 180px;
        }
        
        @media only screen and (min-width: 1600px) {
            right: calc((100% - 1440px) / 2);
            top: 180px;
        }
    }
    
    &.sticky-bottom {
        @media only screen and (min-width: 992px) {
            bottom: 0;
            top: unset;
        }
    }

    &.position-relative {
        top: 0 !important;
        left: 0 !important;
    }

    @media(max-width: 991.9px) {
        margin-left: 0;
        margin-top: 10px;
        margin-bottom: 30px;
        position: relative;
        right: unset;
        top: unset;
        width: 100%;

        li {
            padding-left: 20px;
            margin-bottom: 15px;
            
            a {
                padding-bottom: 15px;
                font-size: 13px;
            }

            &::after {
                top: 7px;
                height: 7px;
                width: 7px;
            }
        }
    }
}