.sec-contact {    
    position: relative;

    @media(max-width: 767.9px) {
        padding-top: 40px;
    }
}

.map-c {
    position: relative;

    .map {
        width: 100%;
        height: 650px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
    }

    .map-list {
        li {
            position: absolute;
            
            .coordinate {
                position: relative;
                width: 8px;
                height: 8px;
                background-color: #40baca;
                border-radius: 50%;
                cursor: pointer;
                
                &::after {
                    content: "";
                    position: absolute;
                    width: 18px;
                    height: 18px;
                    background-color: #40baca;
                    opacity: 0.4;
                    top: -5px;
                    left: -5px;
                    border-radius: 50%;
                    transform-origin: center;
                    animation: anim-expand-2 4s infinite;
                }
                
                &:before {
                    content: "";
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    background-color: #40baca;
                    opacity: 0.2;
                    top: -11px;
                    left: -11px;
                    border-radius: 50%;
                    transform-origin: center;
                    animation: anim-expand 4s infinite;
                }
                
                
                .desc {
                    width: 285px;
                    border-radius: 4px;
                    background-color: #40baca;
                    position: absolute;
                    bottom: calc(100% + 20px);
                    left: -30px;
                    padding: 15px;
                    opacity: 0;
                    transition: all ease 0.3s;
                    pointer-events: none;
                    
                    .after {
                        position: absolute;
                        top: 100%;
                        left: 25px;
                        height: 10px;
                        width: 30px;
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }
                    
                    h6 {
                        color: #ffffff;
                        font-size: 14px;
                        font-weight: 600;
                        margin-bottom: 5px;
                    }
                    
                    p {
                        opacity: 0.9;
                        color: #ffffff;
                        font-size: 11px;
                        font-weight: 400;
                        line-height: 1.5;
                    }
                }
            }
            
            &:nth-child(1) {
                top: 180px;
                right: 440px;

                .desc {
                    opacity: 1;
                }
            }
            
            &:nth-child(2) {
                top: 500px;
                right: 400px;
            }
            
            &:nth-child(3) {
                top: 590px;
                right: 650px;
            }

            &:hover {
                .desc {
                    opacity: 1;
                    pointer-events: all;
                }
            }
        }
    }

    @media(max-width: 767.9px) {
        .map {
            height: 400px;
            margin-top: -70px;

        }

        .map-list {
            transform: scale(0.5);
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;

            li {
                &:nth-child(1) {
                    top: 60px;
                    right: 120px;
                }
                
                &:nth-child(2) {
                    top: 500px;
                    right: 400px;
                }
                
                &:nth-child(3) {
                    top: 750px;
                    right: 750px;
                }
            }

        }
    }
}

.contact-box {
    width: 100%;
    max-width: 440px;
    background-color: white;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.07);
    border-radius: 4px;
    padding: 50px 30px;
    position: absolute;
    top: 50%;
    left: 55px;
    z-index: 10;
    transform: translateY(-50%);

    h4 {
        margin-bottom: 50px;
    }

    .label {
        color: rgba(0, 0, 0, 0.5);
        font-size: 14px;
        font-weight: 400;
        line-height: 1.66;
        margin-bottom: 15px;

        img {
            width: 16px;
            height: auto;
            object-fit: contain;
            margin-right: 15px;
        }
    }

    .contact-list {
        margin-bottom: 30px;
        display: flex;

        li {
            padding-left: 30px;
            position: relative;

            a {
                display: inline;
                color: #333333;
                font-size: 16px;
                font-weight: 600;
                line-height: 34px;
            }

            &::before {
                content: "";
                position: absolute;
                left: 15px;
                top: 50%;
                transform: translateY(-50%);
                width: 1px;
                background-color: rgba(51, 51, 51, 0.2);
                height: 70%;
            }

            &:first-child {
                padding-left: 0;

                &::before {
                    display: none;
                }
            }
        }

        &.mail {
            display: block;

            li {
                padding: 0;

                &::before {
                    display: none;
                }

                a {
                    color: #4f4ad2;
                    font-size: 14px;
                }
            }

        }
    }

    .social-list {
        display: flex;

        li {
            margin-right: 10px;
        }
    }
    
    @media(max-width: 767.9px) {
        width: 95%;
        max-width: 100%;
        padding: 25px;
        position: relative;
        top: 0;
        left: 0;
        margin: 0 auto 30px;
        transform: none;
    
        h4 {
            margin-bottom: 30px;
        }
    
        .label {
            font-size: 13px;
            margin-bottom: 5px;
    
            img {
                width: 14px;
                margin-right: 12px;
            }
        }
    
        h5 {
            margin-bottom: 25px;
        }

        .contact-list {
            display: block;

            li {
                padding: 0;

                &::before {
                    display: none;
                }
            }

        }
    }
}

@keyframes anim-expand {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        opacity: 0.2;
        transform: scale(1);
    }
}

@keyframes anim-expand-2 {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        opacity: 0.4;
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}

.addr-list {
    display: flex;
    justify-content: space-between;

    li {
        width: 100%;
        max-width: 200px;
        margin-right: 25px;

        h5 {
            margin-bottom: 16px;
        }

        .blue {
            margin-bottom: 30px;
            line-height: 1;
        }

        &:last-child {
            margin-right: 0;
        }
    }
    
    @media(max-width: 767.9px) { 
        display: block;
        margin-top: 15px;
        text-align: center;
    
        li {
            max-width: 100%;
            margin-right: 0;
            margin-bottom: 40px;
    
            h5 {
                margin-bottom: 10px;
            }
    
            .blue {
                margin-bottom: 15px;
            }
    
            &:last-child {
                margin-bottom: 0;
            }
        }

    }
}
