.sec-padding {
    padding: 50px 0;

    &--bottom {
        padding: 0 0 80px;
    }
    
    @media(max-width: 767.9px) {
        padding: 25px 0;

        &--bottom {
            padding: 0 0 40px;
        }
    }
}

.list-style {
    .item {
        .icon-c {
            height: 90px;
            width: 90px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            margin-bottom: 40px;
        }

        h5 {
          max-width: 250px;
        }

        .text-desc {
            max-width: 310px;
        }
    }

    @media(max-width: 767px) {
        li {
            padding: 0;
            margin-bottom: 50px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .item {
            .icon-c {
                height: 70px;
                width: 70px;
                margin-bottom: 20px;
            }
            
            h5 {
                max-width: 100%;
            }
            
            .text-desc {
                max-width: 100%;
            }
        }
    }
}

.container-styling {
    padding: 80px 45px 0;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 60%;
        width: 100%;
        // background-image: url("../assets/images/homepage/bg-pattern.png");
        background-color: #f6f6f6;
        background-size: cover;
        z-index: -1;
    }

    @media(max-width: 767.9px) {
        padding: 35px 30px 0;

        &::after {
            height: 100%;
        }
    }
}

.card-layout {
    width: 100%;
    margin: auto;

    .img-c {
        height: 305px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 25px;
        border-radius: 4px;
        overflow: hidden;
        background-position: center;
    }

    .date {
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 15px;
    }

    a {
        margin-top: 25px;
    }

    @media(max-width: 767.9px) {
        .img-c {
            height: 255px;
            margin-bottom: 15px;
        }

        .date {
            margin-bottom: 5px;
        }

        a {
            margin-top: 10px;
        }
    }
}

.card-layout-list {
    position: relative;
    margin-top: 20px;

    .see-all {
        position: absolute;
        right: 15px;
        top: -60px;
    }

    @media(max-width: 767.9px) {

        .see-all {
            top: -40px;
        }

        li {
            margin-bottom: 50px;
        }
    }
}

.review-card {
    .user-img {
        width: 180px;
        height: 180px;
        border-radius: 50%;

        img {
            height: 100%;
            width: 100%;
        }
    }

    .review {
        padding: 35px 0 0;
        position: relative;

        h5 {
            margin-bottom: 17px;
        }

        h6 {
            margin-bottom: 23px;
            max-width: 285px;
        }

        p {
            margin-bottom: 25px;
            max-width: 640px;
        }

        .quotes {
            position: absolute;
            width: 105px;
            height: 80px;
            width: 105px;
            height: 78px;
            right: calc(100% + 35px);
            top: 0;
            // background-image: url("../assets/images/homepage/quotes.svg");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    @media(max-width: 767.9px) {
        padding: 0 15px;

        .user-img {
            width: 120px;
            height: 120px;
            margin: auto;
        }
    
        .review {
            padding: 20px 0 0;
            text-align: center;
    
            h5 {
                margin-bottom: 8px;
            }
    
            h6 {
                margin-bottom: 10px;
                max-width: 100%
            }
    
            p {
                margin-bottom: 10px;
                max-width: 100%
            }
    
            .quotes {
                width: 80px;
                height: 80px;
                right: unset;
                top: -25px;
                left: 10px;
                z-index: -1;
            }
        }
    }

    @media(min-width: 767.9px) and (max-width: 991px) {
        .review .quotes {
            width: 45px;
            height: 75px;
            right: calc(100% + 5px);
        }
    }
}