.sec-news {
    padding: 40px 0 0;

    .nav {
        display: flex;
        border-bottom: 1px solid rgba($color: #40baca, $alpha: 0.2);
        margin-bottom: 55px;

        li {
            margin-right: 45px;
            padding-right: 10px;

            &:last-child {
                margin-right: 0;
            }

            .nav-link {
                transition: all ease 0.3;
                font-size: 16px;
                font-weight: 500;
                padding-bottom: 18px;
                color: #777476;
                transition: all ease 0.3;
                position: relative;

                &:after {
                    content: "";
                    position: absolute;
                    bottom: -1px;
                    left: 0;
                    width: 0;
                    height: 3px;
                    background-color: #40baca;
                    border-radius: 4px;
                    transition: all ease 0.3s;
                    opacity: 0;
                }

                &.active {
                    transition: all ease 0.3s;
                    font-weight: 600px;
                    color: #40baca;

                    &::after {
                        width: 100%;
                        opacity: 1;
                    }
                }


            }
        }
    }

    h5 {
        margin-bottom: 30px;
    }

    @media(max-width: 767.9px) {
        padding: 30px 0;

        .nav {
            margin-bottom: 35px;

            li {
                margin-right: 25px;

                .nav-link {
                    font-size: 15px;
                    position: relative;
                }
            }
        }

        h5 {
            margin-bottom: 25px;
        }

        h4 {
            margin-bottom: 20px;
        }
    }
}

.a-card {
    margin-bottom: 25px;

    .img-c {
        width: 100%;
        margin-bottom: 35px;

        img {
            width: 100%;
        }
    }

    h5 {
        margin-bottom: 20px;
    }

    .text-desc {
        max-width: 690px;
    }

    a {
        margin-top: 20px;
    }

    @media(max-width: 767px) {

        h5 {
            margin-bottom: 0px;
        }

        .img-c {
            margin-bottom: 15px;
        }

        .text-desc {
            max-width: 100%;
        }

        a {
            margin-top: 10px;
        }

    }
}

.a-card-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 85px;

    li {
        width: 50%;
        border-top: 1px solid #b9b9b9;
        border-right: 1px solid #b9b9b9;
        display: flex;
        padding-top: 30px;
        padding-bottom: 30px;

        .a-card {
            display: flex;
            margin-bottom: 0;

            .img-c {
                width: 200px;
                margin-right: 30px;
                margin-bottom: 0;
            }

            .desc {
                max-width: 215px;
            }
        }

        &:nth-child(even) {
            border-right: none;
            padding-left: 30px;
        }
    }

    @media(max-width: 767px) {
        display: block;
        margin-bottom: 35px;

        li {
            width: 100%;
            border: none;
            border-bottom: 1px solid #b9b9b9;
            display: flex;
            padding-top: 20px;
            padding-bottom: 20px;

            .a-card {
                display: flex;
                margin-bottom: 0;

                .img-c {
                    width: 120px;
                    margin-right: 20px;
                }

                .desc {
                    max-width: 100%;
                }
            }

            &:nth-child(even) {
                padding-left: 0;
            }

            &:last-child {
                border-bottom: none;
            }
        }
    }
}

.a-card-slider {
    li {
        .a-card {
            max-width: 320px;
            margin-bottom: 0;
        }

        &.first {
            padding-left: 0;
        }
    }

    .slick-track {
        display: flex !important;
    }

    .slick-slide {
        height: inherit !important;
        padding: 30px;
        border-top: 1px solid #b9b9b9;
        border-right: 1px solid #b9b9b9;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            margin-right: 100px;
        }
    }
}

.news-arrows {
    height: 100%;
    width: 17%;
    position: absolute;
    right: 0;
    top: 0;
    background-image: linear-gradient(270deg, #ffffff 0%, rgba(255, 255, 255, 0.85) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
        width: 42px;
        height: 42px;
        background-color: #ffffff;
        position: relative;
        border: none;
        cursor: pointer;
        border-radius: 50%;
        transition: all ease 0.3s;

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            border-right: 1px solid #4f4ad2;
            border-bottom: 1px solid #4f4ad2;
            height: 7px;
            width: 7px;
            transition: all ease 0.3s;
            transform: translate(-50%, -50%) rotate(-45deg);
        }

        &:hover {
            transform: scale(1.1);
        }
    }

    .prev {
        margin-bottom: 30px;
        &::after {
            transform: translate(-50%, -50%) rotate(135deg);
        }
    }

    .slick-disabled {
        opacity: 0.1;
        pointer-events: none;
    }
}
