.white-card-list {
    li {
        margin-bottom: 80px;
        display: flex;

        .img-c {
            width: 400px;
            margin-right: 50px;

            img {
                width: 100%;
            }
        }

        &.img-right {
            .img-c {
                margin-right: 0;
                margin-left: 50px;
            }
        }

        .desc {
            width: 100%;
            max-width: 355px;

            h6 {
                color: #40baca;
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 15px;
            }

            p {
                color: rgba(0, 0, 0, 0.5);
                font-size: 15px;
                font-weight: 400;
                line-height: 25px;
            }

            .date {
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
                margin-top: 40px;
            }
        }
    }
    
    @media(max-width: 991px) {
        li {
    
            .desc {
    
                h6 {
                    font-size: 13px;
                    line-height: 1.5;
                    margin-bottom: 5px;
                }

                h5 {
                    margin-bottom: 15px;
                }
                
                p {
                    font-size: 14px;
                    line-height: 1.5;
                }
    
                .date {
                    font-size: 13px;
                    margin-top: 15px;
                }
            }
        }

    }
    
    @media(max-width: 767px) {
        li {
            margin-bottom: 40px;
            display: block;
    
            .img-c {
                width: 100%;
                margin-right: 0;
                margin-bottom: 10px;
            }
    
            &.img-right {
                flex-direction: column-reverse;
                display: flex;

                .img-c {
                    margin-right: 0;
                    margin-left: 0;
                }
            }
    
            .desc {
                max-width: 100%;
    
                h6 {
                    font-size: 13px;
                    line-height: 1.5;
                    margin-bottom: 5px;
                }
                
                p {
                    font-size: 14px;
                    line-height: 1.5;
                }
    
                .date {
                    font-size: 13px;
                    margin-top: 15px;
                }
            }
        }

    }
}