section.sec-banner-bc
    .container
        .row
            .col-12.text-sm-space
                ul.breadcrumbs(data-aos="fade-in" data-aos-duration="500" data-aos-delay="500")
                    li
                        a(href="index.html") Home
                    li
                        p News Details
                    