section.sec-news-details
    .container
        .row
            .col-lg-8.text-sm-space(data-aos="fade-up" data-aos-duration="800")
                p.sec-date 4 May 2020
                h1.small UK-based biotechnology firm discovers potential treatments for Covid-19
                .img-c
                    img(src="assets/images/news-details/image-1.png", alt="img")
                p A UK-based biotechnology firm has announced the discovery of two separate novel treatments for Covid-19 patients before they are put on ventilators.  They are now urgently seeking funding of £4m to accelerate safety studies and clinical trials.
                p ILC Therapeutics has patented a new Interferon-Alpha subtype, called Interferon Alpha 14, which can be administered to patients through injection or inhalation. This natural human molecule treatment could prevent Covid-19 induced Acute Respiratory Distress Syndrome (ARDS), which would mean that a considerable number of patients may no longer need to be on a ventilator.
                p Interferon Alpha 14 is the most potent antiviral interferon that exists and requires very small doses for treatment. It could also treat Covid-19 by boosting the body’s Natural Killer cells (NK cells) which fight the virus and prevent an immune overreaction that can cause fatal damage to the lungs, known as a Cytokine Storm.


                h4 Leave a reply
                p.section-desc.black The opinions expressed here are the views of the writer and do not necessarily reflect the views and opinions of News Medical.

                form(action="").form-styles
                    .form-group
                        label(for="news-letter") Write comment
                        textarea#cd-letter(name="news-letter" placeholder="Comment")
                    .form-group
                        label(for="news-name") Name*
                        input(type="text" id="news-name" placeholder="Enter your name" required)
                    .form-group
                        label(for="news-email") Email Address
                        input(type="email" id="news-email" placeholder="Enter your Email ID" required)
                    button.bttn.white.js-validate(type="submit") Post Comment


            .col-lg-3.text-sm-space.offset-lg-1
                ul.social-list(data-aos="fade-up" data-aos-duration="800")
                    li
                        a(href="javascript:void(0)")
                            img(src="assets/images/fb.png", alt="fb")
                    li
                        a(href="javascript:void(0)")
                            img(src="assets/images/twitter.png", alt="twitter")
                    li
                        a(href="javascript:void(0)")
                            img(src="assets/images/linkdin.png", alt="linkdin")
                ul.trending-list(data-aos="fade-up" data-aos-duration="800")
                    li
                        a(href=" ") 
                            h5 Trending Stories
                    li 
                        a(href="javascript:void(0)")
                            p 4 May 2020
                            h5 Global Health Conference & Exhibition 
                    li 
                        a(href="javascript:void(0)")
                            p 3 May 2020
                            h5 WSU researchers crack the Lyme disease code
                    li 
                        a(href="javascript:void(0)")
                            p 2 May 2020
                            h5 ASU team identifies new, unique SARS-CoV-2 mutation
