section.sec-padding
    .container
        .row
            .col-lg-8.text-sm-space.order-2
                h4(data-aos="fade-up" data-aos-duration="800") Blogs
                ul.archive-list(data-aos="fade-up" data-aos-duration="800")
                    li
                        p.sec-date 15 May 2020
                        a(href="javascript:void(0)")
                            h5 UK-based biotechnology firm discovers potential treatments for Covid-19
                    li
                        p.sec-date 4 May 2020
                        a(href="javascript:void(0)")
                            h5 Recombinant proteins for COVID-19 research
                    li
                        p.sec-date 20 April 2020
                        a(href="javascript:void(0)")
                            h5 The hunt for a Covid-19 vaccine
                    li
                        p.sec-date 10 April 2020
                        a(href="javascript:void(0)")
                            h5 Global Health Conference & Exhibition
                    li
                        p.sec-date 5 March 2020
                        a(href="javascript:void(0)")
                            h5 UK-based biotechnology firm discovers potential treatments for Covid-19
                    li
                        p.sec-date 20 Jan 2020
                        a(href="javascript:void(0)")
                            h5 Recombinant proteins for COVID-19 research

            .col-lg-2.text-sm-space.order-lg-2.offset-lg-2
                ul.side-menu.js-right-sticky
                    li(data-aos="fade-up" data-aos-duration="800")
                        a(href="case-studies.html") Case Studies
                    li(data-aos="fade-up" data-aos-duration="800")
                        a(href="whitepapers.html") Whitepapers
                    li(data-aos="fade-up" data-aos-duration="800")
                        a(href="blogs.html") Blogs
                    li(data-aos="fade-up" data-aos-duration="800")
                        a(href="news-media.html") News and Media
                    li(data-aos="fade-up" data-aos-duration="800")
                        a(href="javascript:void(0)") Events
                    li.active(data-aos="fade-up" data-aos-duration="800")
                        a(href="archived.html") Archived