section.aq-footer
    .container
        .row
            .col-12.d-flex.justify-content-between.flex-wrap
                div.div(data-aos="fade-up" data-aos-duration="600" data-aos-delay="100")
                    h6 About Us
                    ul
                        li
                            a(href="why-us.html") Why Us
                        li
                            a(href="career.html") Careers
                        li
                            a(href="javascript:void(0)") Partners

                div.div(data-aos="fade-up" data-aos-duration="600" data-aos-delay="200")
                    h6 Help
                    ul
                        li
                            a(href="javascript:void(0)") Help
                        li
                            a(href="contact.html") Contact Us
                        li
                            a(href="javascript:void(0)") FAQ

                div.div(data-aos="fade-up" data-aos-duration="600" data-aos-delay="300")
                    h6 Join our community
                    ul.mb-0
                        li
                            a(href="blogs.html") Blog
                        li
                            a(href="news-media.html") News and Media
                        li
                            a(href="javascript:void(0)") Events


                div.div(data-aos="fade-up" data-aos-duration="600" data-aos-delay="400")
                    h6 Legal
                    ul.mb-0
                        li
                            a(href="javascript:void(0)") Terms & Conditions
                        li
                            a(href="javascript:void(0)") Privacy Policy
                        li
                            a(href="javascript:void(0)") Sitemap
                
                div.div-l( data-aos="fade-up" data-aos-duration="600" data-aos-delay="500")
                    a.logo(href="index.html")
                        img(src="assets/images/logo.png", alt="logo")
                    p 22 north St, Malaysia, N1 ORW, 556709
                    ul.social-list
                        li
                            a(href="javascript:void(0)")
                                img(src="assets/images/fb.png", alt="fb")
                        li
                            a(href="javascript:void(0)")
                                img(src="assets/images/twitter.png", alt="twitter")
                        li
                            a(href="javascript:void(0)")
                                img(src="assets/images/linkdin.png", alt="linkdin")

            .col-12
                p.terms © 2018 Ainqa Pvt.                   