section.aa-footer
    .container
        .row
            .col-md-4
                a.logo(href="javascript:void(0)")
                    img(src="assets/images/logo.png", alt="logo")
            .col-md-2
                ul
                    li
                        a(href="javascript:void(0)") Location
                    li
                        a(href="javascript:void(0)") Careers
                    li
                        a(href="javascript:void(0)") Partners
            .col-md-2
                ul
                    li
                        a(href="javascript:void(0)") Privacy Policy
                    li
                        a(href="javascript:void(0)") Help
                    li
                        a(href="javascript:void(0)") Terms & Conditions
            .col-md-2
                ul
                    li
                        a(href="javascript:void(0)") Newsletters
                    li
                        a(href="javascript:void(0)") Documentations
                    li
                        a(href="javascript:void(0)") Gallery
            .col-md-2
                ul
                    li
                        a(href="javascript:void(0)") Contact Us
                    li
                        p Lets get connected
                        ul.social-list
                            li
                                a(href="javascript:void(0)")
                                    img(src="assets/images/fb.png", alt="fb")
                            li
                                a(href="javascript:void(0)")
                                    img(src="assets/images/twitter.png", alt="twitter")
                            li
                                a(href="javascript:void(0)")
                                    img(src="assets/images/linkdin.png", alt="linkdin")

