header.aa-header
    .container
        .row
            .col-12.d-flex.justify-content-between.align-items-center
                a.logo(href="javascript:void(0)")
                    img(src="assets/images/logo.svg", alt="logo")
                ul
                    li
                        a(href="javascript:void(0)") Why Ainqa
                    li
                        a(href="javascript:void(0)") Insights
                    li
                        a(href="javascript:void(0)") Technology
                    li.has-menu
                        p More
                            .header-sub-menu
                                 include sub-menu.pug
                    li.search
                        a(href="javascript:void(0)") 
                            img(src="assets/images/search-icon.png", alt="search")
                    li.lang
                        a(href="javascript:void(0)") 
                            img(src="assets/images/country.png", alt="lang")


