header.aq-header
    .container
        .row
            .col-12.d-flex.justify-content-between.align-items-center
                a.logo(href="index.html" data-aos="fade-in" data-aos-duration="600")
                    img(src="assets/images/logo.svg", alt="logo")
                ul
                    li(data-aos="fade-in" data-aos-duration="600")
                        a(href="why-us.html") Why Ainqa
                    li(data-aos="fade-in" data-aos-duration="600")
                        a(href="javascript:void(0)") Insights
                    li(data-aos="fade-in" data-aos-duration="600")
                        a(href="javascript:void(0)") Technology
                    li.has-menu
                        p(data-aos="fade-in" data-aos-duration="600") More
                        .header-sub-menu
                            .inner-div
                                include sub-menu.pug
                    li.search(data-aos="fade-in" data-aos-duration="600")
                        a(href="javascript:void(0)") 
                            img(src="assets/images/search-icon.png", alt="search")
                    li.lang(data-aos="fade-in" data-aos-duration="600")
                        a(href="javascript:void(0)") 
                            img(src="assets/images/country.png", alt="lang")
                        ul.lang-list
                            li
                                a(href="javascript:void(0)") 
                                    img(src="assets/images/country.png", alt="lang")
                                    p Malaysia
                            li
                                a(href="javascript:void(0)") 
                                    img(src="assets/images/country-2.png", alt="lang")
                                    p India
                            li
                                a(href="javascript:void(0)") 
                                    img(src="assets/images/country-3.png", alt="lang")
                                    p UK



