section.sec-banner-bc
    .container
        .row
            .col-12.text-sm-space
                ul.breadcrumbs(data-aos="fade-in" data-aos-duration="500" data-aos-delay="500")
                    li
                        a(href="index.html") Home
                    li
                        p Why Ainqa
        .row
            .col-lg-9.m-auto.text-center.text-sm-space
                h1.small(data-aos="fade-up" data-aos-duration="800") We pick every opportunity that comes our way
                p.section-desc.mb-md-4(data-aos="fade-up" data-aos-duration="800" data-aos-delay="300") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim  veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        .row
            .col-lg-12
                .img-c(data-aos="fade-up" data-aos-duration="800" data-aos-delay="400")
                    img(src="assets/images/why-us/image-1.png", alt="banner")
                    