section.sec-padding
    .container
        .row
            .col-lg-9.text-sm-space
                h4(data-aos="fade-up" data-aos-duration="800") Company Overview
                p.section-desc.black.mw-full(data-aos="fade-up" data-aos-duration="800" data-aos-delay="300") There’s life at work and life outside of work. We want everyone to be healthy, travel often, get time to give back, and have the financial resources and support they need.
        ul.row.list-style.text-sm-space
            li.col-md-4
                .item(data-aos="fade-up" data-aos-duration="800" data-aos-delay="500")
                    .icon-c(style="background-image: url('assets/images/why-us/image-3.png')")
                    h5 How we started
                    p.text-desc Learn and know from the experts how health Innovation and Healthcare are growing. 
            li.col-md-4
                .item(data-aos="fade-up" data-aos-duration="800" data-aos-delay="700")
                    .icon-c(style="background-image: url('assets/images/why-us/image-3.png')")
                    h5 Why trends matter
                    p.text-desc Learn and know from the experts how health Innovation and Healthcare are growing. 
            li.col-md-4
                .item(data-aos="fade-up" data-aos-duration="800" data-aos-delay="900")
                    .icon-c(style="background-image: url('assets/images/why-us/image-3.png')")
                    h5 About our Team
                    p.text-desc Learn and know from the experts how health Innovation and Healthcare are growing. 
