section.sec-partners
    .container
        .row
            .col-12
                h4 Our Partners
        .row
            .col-12 
                ul.logo-list
                    li 
                        img(src="assets/images/why-us/logo-1.png", alt="logo")
                    li 
                        img(src="assets/images/why-us/logo-2.png", alt="logo")
                    li 
                        img(src="assets/images/why-us/logo-3.png", alt="logo")
                    li 
                        img(src="assets/images/why-us/logo-4.png", alt="logo")
                    li 
                        img(src="assets/images/why-us/logo-5.png", alt="logo")
                    li 
                        img(src="assets/images/why-us/logo-4.png", alt="logo")
                    li 
                        img(src="assets/images/why-us/logo-3.png", alt="logo")
                    li 
                        img(src="assets/images/why-us/logo-2.png", alt="logo")