section.sec-respb
    .container
        .row
            .col-lg-9.text-sm-space
                h4(data-aos="fade-up" data-aos-duration="800") Corportate Social Responsibilites
                p.section-desc.black.mw-full(data-aos="fade-up" data-aos-duration="800" data-aos-delay="300") All the latest news , announcements Ainqa has been a part of. 
        .row
            .col-12.text-sm-space
                ul.respb-slider(data-aos="fade-up" data-aos-duration="800")
                    li
                        .img-c
                            img(src="assets/images/why-us/image-4.png", alt="img")
                        h6 5 May 2020
                        h5 Rural Healthcare Programmes
                        p.text-desc All the latest news , announcements Ainqa has been a part of. 
                        a.link-blue(href="javascript:void(0)") Read more
                    li
                        .img-c
                            img(src="assets/images/why-us/image-5.png", alt="img")
                        h6 5 Apr 2020
                        h5 Rural Healthcare Programmes
                        p.text-desc All the latest news , announcements Ainqa has been a part of. 
                        a.link-blue(href="javascript:void(0)") Read more
                    li
                        .img-c
                            img(src="assets/images/why-us/image-6.png", alt="img")
                        h6 5 Feb 2020
                        h5 Rural Healthcare Programmes
                        p.text-desc All the latest news , announcements Ainqa has been a part of. 
                        a.link-blue(href="javascript:void(0)") Read more
                    li
                        .img-c
                            img(src="assets/images/why-us/image-5.png", alt="img")
                        h6 5 Apr 2020
                        h5 Rural Healthcare Programmes
                        p.text-desc All the latest news , announcements Ainqa has been a part of. 
                        a.link-blue(href="javascript:void(0)") Read more
                    li
                        .img-c
                            img(src="assets/images/why-us/image-4.png", alt="img")
                        h6 5 May 2020
                        h5 Rural Healthcare Programmes
                        p.text-desc All the latest news , announcements Ainqa has been a part of. 
                        a.link-blue(href="javascript:void(0)") Read more
                    li
                        .img-c
                            img(src="assets/images/why-us/image-6.png", alt="img")
                        h6 5 Feb 2020
                        h5 Rural Healthcare Programmes
                        p.text-desc All the latest news , announcements Ainqa has been a part of. 
                        a.link-blue(href="javascript:void(0)") Read more
                .respb-nav.slider-arrows(data-aos="fade-up" data-aos-duration="800")
                    p
                        span.active  1
                        | /
                        span.total 5
