section.sec-padding
    .container
        .row
            .col-md-5.text-sm-space
                .sec-block(data-aos="fade-up" data-aos-duration="800")
                    h5 Beyond Healthcare
                    p.text-desc All the latest news , announcements Ainqa has been a part of. Be updated with all the latest news and subscribe them to find in it your inbox.
                    .img-c
                        img(src="assets/images/why-us/image-2.png", alt="")
            .col-md-5.offset-md-1.text-sm-space
                .sec-block.last(data-aos="fade-up" data-aos-duration="800")
                    h5 Exploring Opportunities
                    p.text-desc All the latest news , announcements Ainqa has been a part of. Be updated with all the latest news and subscribe them to find in it your inbox.
                    .img-c
                        img(src="assets/images/why-us/image-2.png", alt="")