section.sec-banner-bc
    .container
        .row
            .col-12.text-sm-space
                ul.breadcrumbs(data-aos="fade-in" data-aos-duration="500" data-aos-delay="500")
                    li
                        a(href="index.html") Home
                    li
                        p Career Details
    .container.banner-box(data-aos="fade-up" data-aos-duration="800")
        .row 
            .col-lg-10.text-sm-space
                h1.small Project Manager 2, Business Unit, Bengaluru
        .row 
            .col-lg-10.text-sm-space.vertical-center
                p.section-desc Central Operations, Business Unit Role
            .col-lg-2.text-sm-space.vertical-center
                button.bttn.js-scroll-form Apply

                    