section.sec-padding
    .container
        .row
            .col-lg-8.text-sm-space
                .mb-80(data-aos="fade-up" data-aos-duration="800")
                    h4 About the Role
                    p.text-desc.black  We are looking for a self-motivated and results-driven General Manager in Belgium to direct and manage our organisation’s business activities and to develop and implement effective strategies and programs across the Belgium business functions as required by the Ixaris Group.
                .mb-80(data-aos="fade-up" data-aos-duration="800")
                    h4 What you’ll do
                    ul.list-styling
                        li
                            p.text-desc.black Leading the company and ensuring all employees buy into the company and the group vision
                        li
                            p.text-desc.black Setting the overall strategic direction of the company alongside the board
                        li
                            p.text-desc.black Planning and implementing long term business strategies to achieve the company’s objectives
                        li
                            p.text-desc.black Meeting with the Finance Manager on a regular basis to review the company’s financial performance
                        li
                            p.text-desc.black Interviewing for senior positions within the organisation and signing off offers of employment
                        li
                            p.text-desc.black Working closely with the Group Sales Director on sales strategy and approach to winning new business
                div(data-aos="fade-up" data-aos-duration="800")
                    h4 What you’ll Need
                    ul.list-styling
                        li
                            p.text-desc.black Degree in Business Management, Master’s in Business Administration or similar
                        li
                            p.text-desc.black Previous experience in the payments or travel industry is a must and experience in a regulated business is a plus
                        li
                            p.text-desc.black Good knowledge of different business functions, proven track record of successfully managing similar sized organisations
                        li
                            p.text-desc.black Natural leader and motivator of people
                        li
                            p.text-desc.black Excellent communication skills
                        li
                            p.text-desc.black Target driven and results focused individual
