section.sec-form
    .container(data-aos="fade-up" data-aos-duration="800")
        .row
            .col-lg-5.vertical-space-between
                div
                    h1 Join Our Great Team
                    p.section-desc Let’s make something great together
                .illustration
                    img(src="assets/images/career-details/image-2.png", alt="img")
            form(action="" data-parsley-validate).col-lg-6.offset-lg-1.form-styles#c-form
                .row
                    .col-md-6
                        .form-group
                            label(for="cd-name") First Name*
                            input(type="text" id="cd-name" placeholder="Enter your first name" required)
                    .col-md-6
                        .form-group
                            label(for="cd-lname") Last Name*
                            input(type="text" id="cd-lname" placeholder="Enter your last name" required)
                .row
                    .col-md-6
                        .form-group
                            label(for="cd-num") Phone Number*
                            .d-flex
                                input.code(type="number" id="cd-code" placeholder="+943" required data-parsley-errors-messages-disabled)
                                input(type="number" id="cd-num" placeholder="5555 5555 55" required data-parsley-errors-container="#phone-error")
                            #phone-error
                    
                    .col-md-6
                        .form-group
                            label(for="cd-loc") Location*
                            input(type="text" id="cd-loc" placeholder="Enter location" required)
                .form-group
                    label(for="cd-job") Current Job Profile*
                    input(type="text" id="cd-job" placeholder="Enter your job profile" required)
                .form-group
                    label(for="cd-exp") Total Experience*
                    input(type="text" id="cd-exp" placeholder="Enter your job experience" required)
                .form-group
                    label(for="cd-letter") Cover Letter
                    textarea#cd-letter(name="cd-letter" placeholder="What’s in your mind…")
                    p Max 100 words
                .d-md-flex
                    .form-group.file.m-md-0
                        input(type="file" id="cd-fileName" name="cd-fileName")
                        label(for="cd-fileName")
                            img(src="assets/images/icons/attach.svg", alt="clip")
                            | Attach your Resume/ CV
                        p.added-files
                            span Pdf only, not more than 2 MB
                    button.bttn.js-validate(type="submit") Apply