<!DOCTYPE html>
html(lang="en")

  head
    include ./base/head.pug
    +head("Career Details")

  body
    include ./base/loader.pug

    include ./base/header.pug

    main
      include ./layouts/career-details/main.pug

    include ./base/footer.pug