<!DOCTYPE html>
html(lang="en")

  head
    include ./base/head.pug
    +head("Case Studies")

  body
    include ./base/loader.pug

    include ./base/header.pug

    main
      include ./layouts/case/main.pug

    include ./base/footer.pug