section.sec-padding--bottom
    .container
        .row
            .col-lg-2.p-lg-0.text-sm-space(data-aos="fade-up" data-aos-duration="800")
                h4.text-center.text-md-left We are here for you
            .col-lg-9.offset-lg-1.text-sm-space
                ul.addr-list
                    li(data-aos="fade-up" data-aos-duration="800" data-aos-delay="50")
                        h5 Johor Bahru
                        p.text-desc.blue Malaysia
                        p.text-desc  223, 4th Main Road, Johor Bahru, 778765
                    li(data-aos="fade-up" data-aos-duration="800" data-aos-delay="100")
                        h5 Kuala Lumpur
                        p.text-desc.blue Malaysia
                        p.text-desc  321, 6th Main Road, Kuala Lumpur, 776767
                    li(data-aos="fade-up" data-aos-duration="800" data-aos-delay="150")
                        h5 Sungai Petani
                        p.text-desc.blue Malaysia
                        p.text-desc  121, 5th Main Road, Sungai Petani, 556701
