section.sec-contact
    .container.position-relative.p-md-0
        .row
            .col-12.position-static
                .contact-box
                    h4 Find us at the office
                    p.label
                        img(src="assets/images/icons/phone.svg", alt="phone")
                        | Phone
                    ul.contact-list 
                        li
                            a(href="tel:+915555555555") +91 5555 5555 55
                        li
                            a(href="tel:+911111000011") +91 1111 0000 11
                    p.label
                        img(src="assets/images/icons/message.svg", alt="message")
                        | Email Address
                    ul.contact-list.mail
                        li
                            a(href="mailto:mail@ainqa.com") mail@ainqa.com
                        li
                            a(href="mailto:mail@helpsupport.com") mail@helpsupport.com
                    p.label Social Media
                    ul.social-list
                        li
                            a(href="javascript:void(0)")
                                img(src="assets/images/fb.png", alt="fb")
                        li
                            a(href="javascript:void(0)")
                                img(src="assets/images/twitter.png", alt="twitter")
                        li
                            a(href="javascript:void(0)")
                                img(src="assets/images/linkdin.png", alt="linkdin")
        .row
            .col-12
                .map-c(data-aos="fade-up" data-aos-duration="800")
                    .map(style="background-image: url('assets/images/contact/map.png')")
                    ul.map-list
                        li
                            .coordinate
                                .desc
                                    h6 Corporate Headquarters
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    .after(style="background-image: url('assets/images/contact/after.svg')")
                        li
                            .coordinate
                                .desc
                                    h6 Corporate Headquarters
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    .after(style="background-image: url('assets/images/contact/after.svg')")
                        li
                            .coordinate
                                .desc
                                    h6 Corporate Headquarters
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    .after(style="background-image: url('assets/images/contact/after.svg')")
                    
