section.sec-activities
    .container
        .row    
            .col-lg-4
                .text
                    h3 Our Activities
                    p.section-desc.black The evaluation of the medical activity is a major concern for hospitals and public health services.
            .col-lg-5
                .img-c
                    img(src="assets/images/career/image-4.png", alt="img")
                    p.desc Technical and vocational training for youth
            .col-lg-3
                .img-c
                    img(src="assets/images/career/image-7.png", alt="img")
                    p.desc Technical and vocational training for youth
        .row
            .col-lg-3
                .img-c
                    img(src="assets/images/career/image-8.png", alt="img")
                    p.desc Technical and vocational training for youth
            .col-lg-5
                .img-c
                    img(src="assets/images/career/image-5.png", alt="img")
                    p.desc Technical and vocational training for youth
            .col-lg-4
                .img-c
                    img(src="assets/images/career/image-9.png", alt="img")
                    p.desc Technical and vocational training for youth