section.sec-banner-bc
    .container
        .row
            .col-12.text-sm-space
                ul.breadcrumbs(data-aos="fade-in" data-aos-duration="500" data-aos-delay="500")
                    li
                        a(href="index.html") Home
                    li
                        p Career
        .row
            .col-lg-8.text-center.text-sm-space.m-auto
                h1(data-aos="fade-up" data-aos-duration="800") Explore your career graph at Ainqa
                p.section-desc(data-aos="fade-up" data-aos-duration="800" data-aos-delay="300") Find your full potential for health and well-being across the lifespan
                
        .row
            .col-12
                .img-c(data-aos="fade-up" data-aos-duration="800" data-aos-delay="400")
                    img(src="assets/images/career/image-1.png", alt="banner")

                    