section.sec-padding
    .container
        .row
            .col-lg-3.vertical-center.text-sm-space
                h3(data-aos="fade-up" data-aos-duration="800") How we work?
                p.section-desc(data-aos="fade-up" data-aos-duration="800" data-aos-delay="300") Find your full potential for health and well-being across the lifespan.
            .col-lg-9
                ul.how-work-list
                    li(data-aos="fade-up" data-aos-duration="800") 
                        p.number 1
                        h6.title Access Need
                        p.desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore .
                    li(data-aos="fade-up" data-aos-duration="800" data-aos-delay="100") 
                        p.number 2
                        h6.title Develop Plan
                        p.desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore .
                    li(data-aos="fade-up" data-aos-duration="800" data-aos-delay="200") 
                        p.number 3
                        h6.title Run the Plan
                        p.desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore .
                    .line(style="background-image: url('assets/images/career/bg-line.svg')" data-aos="zoom-in" data-aos-duration="800")