section.sec-padding
    .container
        .row
            .col-md-10.text-sm-space
                h3(data-aos="fade-up" data-aos-duration="800") Our Values
                p.section-desc.black.mw-full(data-aos="fade-up" data-aos-duration="800" data-aos-delay="300") That means being the best for the team, not necessarily the best in the team. We strive to build a stronger, smarter team by hiring people who are better than us. A winning team is more than just our work: a strong social bond often helps overcome communication challenges.
        ul.row.list-style.text-sm-space
            li.col-md-4
                .item(data-aos="fade-up" data-aos-duration="800" data-aos-delay="500")
                    .icon-c(style="background-image: url('assets/images/homepage/icon-1.png')")
                    h5 Great Location
                    p.text-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore .
            li.col-md-4
                .item(data-aos="fade-up" data-aos-duration="800" data-aos-delay="700")
                    .icon-c(style="background-image: url('assets/images/homepage/icon-2.png')")
                    h5 Competitive salary
                    p.text-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore .
            li.col-md-4
                .item(data-aos="fade-up" data-aos-duration="800" data-aos-delay="900")
                    .icon-c(style="background-image: url('assets/images/homepage/icon-3.png')")
                    h5 Your life’s work
                    p.text-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore .
