section.sec-padding
    .container.container-styling
        .row
            .col-md-10
                h3(data-aos="fade-up" data-aos-duration="800") Why work with Ainqa
                p.section-desc.black.mw-full(data-aos="fade-up" data-aos-duration="800" data-aos-delay="300") There’s life at work and life outside of work. We want everyone to be healthy, travel often, get time to give back, and have the financial resources and support they need.
        ul.row.card-layout-list
            li.col-md-6
                a.card-layout(href="javascript:void(0)" data-aos="fade-up" data-aos-duration="800" data-aos-delay="500")
                    .img-c(style="background-image: url('assets/images/career/image-2.png')")
                    h5 Antibiotic resistance
                    p.text-desc.pr-md-5 Bacteria, viruses, parasites and other microbes are always changing to ensure their survival. 
            li.col-md-6
                a.card-layout(href="javascript:void(0)" data-aos="fade-up" data-aos-duration="800" data-aos-delay="700")
                    .img-c(style="background-image: url('assets/images/career/image-3.png')")
                    h5 Child health
                    p.text-desc.pr-md-5 On 6 March, Médecins Sans Frontières (MSF) welcomed the first patients in its new 63-bed hospital 