.bttn {
    background-color: #4f4ad2;
    padding: 10px 45px 10px 30px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    display: table;
    margin-left: auto;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: all ease 0.3s;

    &::after {
        content: "";
        position: absolute;
        top: 17px;
        right: 30px;
        height: 7px;
        width: 7px;
        border-right: 1px solid #fff;
        border-bottom: 1px solid #fff;
        transition: all ease 0.3s;
        transform: rotate(-45deg);
    }

    &.white {
        background-color: white;
        border: 1px solid #4f4ad2;
        color: #4f4ad2;

        &::after {
            border-right: 1px solid #4f4ad2;
            border-bottom: 1px solid #4f4ad2;
        }
        
        &:hover {
            background-color: #4f4ad2;
            border: 1px solid #4f4ad2;
            color: white;
    
            &::after {
                border-right: 1px solid white;
                border-bottom: 1px solid white;
            }
        }
    }


    &:hover {
        &:after {
            transform: rotate(-45deg) translate(4px,4px);
        }
    }
}


.bttn-2 {
    font-weight: 600;
    position: relative;
    display: table;
    cursor: pointer;
    border: 1px solid #533796;
    background-color: #ffffff;
    color: #533796;
    font-size: 14px;
    padding: 15px 30px;
    border-radius: 4px;
    transition: all ease 0.3s;
    
    &:hover {
        background-color: #533796;
        color: #ffffff;
    }
    
    @media(max-width: 767.9px) {
        font-size: 13px;
        padding: 10px 20px;
    }
}