.aq-footer {
    background-color: #f6f6f6;
    padding: 60px 0 25px;

    h6 {
        color: #333333;
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 25px;
    }

    ul {
        li {
            margin-bottom: 10px;
            
            &:last-child {
                margin-bottom: 0;
            }

            a {
                color: #777576;
                font-size: 12px;
                font-weight: 500;
                line-height: 1.4;
                transition: all ease 0.3s;
            }

            a:hover {
                color: #333333;
            }
        }
    }

    p {
        color: #777576;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.4;
        max-width: 150px;
        margin-bottom: 20px;
    }

    .logo {
        margin-bottom: 20px;

        img {
            max-height: 15px;
        }
    }

    .terms {
        display: flex;
        align-items: center;
        position: relative;
        overflow: hidden;
        max-width: 100%;
        margin-top: 30px;

        &::before {
            content: "";
            height: 1px;
            background: rgba(138, 145, 170, 0.16);
            margin-right: 20px;
            flex-grow: 1;
        }
    }
    
    @media(max-width: 767.9px) {
        padding: 30px 0 20px;

        .logo {
            margin: 0 auto 20px;
            display: table;

            & + p {
                text-align: center;
                margin: 0 auto 20px;
            }
        }

        h6 {
            margin-bottom: 10px;
        }

        .div {
            width: 50%;
            margin-bottom: 30px;
        }

        .div-l {
            width: 100%;
        }
    
        ul {
            margin:0 auto 0;
            display: table;
            text-align: center;
            
            &:last-child {
                margin:0 auto 0;
            }

            a {
                line-height: 2.4;
            }

            p {
                margin-top: 20px;
            }
        }

        .terms {
            margin: 10px 0;
        }

        .social-list {
            display: flex;
            justify-content: center;
        }

        h6 {
            text-align: center;
        }

    }
}

.social-list {
    display: flex;
    li {
        margin-right: 20px;

        img {
            width: 24px;
            height: 24px;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}
