.aq-header {
    background-color: $w;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 40px 0;
    z-index: 100;
    transition: all ease 0.2s;

    .logo {
        img {
            height: 100%;
            width: auto;
        }
    }

    ul {
        display: flex;
        justify-content: end;
        align-items: center;

        li {
            margin-right: 40px;

            &:last-child {
                margin-right: 0;
            }

            a,
            p {
                color: #777576;
                font-size: 14px;
                font-weight: 600;
                letter-spacing: 0.94px;
                transition: all ease 0.3s;
                text-decoration: none;
                cursor: pointer;

                &:hover {
                    text-decoration: none;
                    color: #333333;
                    // font-weight: 700;
                }
            }

            &.search {
                img {
                    height: 16px;
                    width: 16px;
                }
            }

            &.lang {
                position: relative;

                a {
                    padding-right: 20px;
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        top: 7px;
                        right: 0;
                        border-right: 1px solid #000000;
                        border-bottom: 1px solid #000000;
                        height: 7px;
                        width: 7px;
                        transition: all ease 0.3s;
                        transform: rotate(45deg);
                    }

                    img {
                        height: 16px;
                        width: auto;
                    }
                }

                .lang-list {
                    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
                    background-color: #ffffff;
                    position: absolute;
                    top: calc(100% + 33px);
                    right: 0;
                    padding: 0 16px;
                    display: block;
                    min-width: 175px;
                    opacity: 0;
                    transform: translateY(-10%);
                    pointer-events: none;
                    transition: all ease 0.3s;

                    li {
                        margin-right: 0;

                        a {
                            display: flex;
                            align-items: center;
                            padding-right: 0;

                            &::after {
                                display: none;
                            }

                            img {
                                margin-right: 15px;
                            }

                            p {
                                color: #333333;
                                font-size: 14px;
                                font-weight: 400;
                                padding: 20px 0 15px;
                                border-bottom: 1px solid #dcdbf6;
                                width: 100%;
                            }
                        }

                        &:last-child {
                            a p {
                                border: none;
                            }
                        }
                    }
                }

                &.show {
                    a {
                        &::after {
                            transform: rotate(225deg);
                        }
                    }
                    .lang-list {
                        opacity: 1;
                        transform: translateY(0);
                        pointer-events: all;
                    }
                }
            }
        }
    }

    @media(max-width: 991.9px) {
        padding: 20px 10px;

        ul {
            display: none;
        }
    }
}

.header-sub-menu {
    position: fixed;
    width: 100%;
    top: 55px;
    left: 0;
    padding-top: 45px;
    transform: translateY(-20px);
    transition: all ease 0.3s;
    opacity: 0;
    pointer-events: none;
    
    .inner-div {
        background-color: #ffffff;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    }
}

.has-menu:hover {
    .header-sub-menu {
        opacity: 1;
        transform: translateY(0);
        pointer-events: all;
    }
}

.header-tab-c {
    .nav-pills {
        padding: 35px 45px 35px;
        border-right: 1px solid #f9f9f9;

        .nav-link {
            color: #777576;
            font-size: 15px;
            font-weight: 600;
            letter-spacing: 0.94px;
            margin-bottom: 35px;
            transition: all ease 0.3s;

            &:last-child {
                margin-bottom: 0;
            }

            &.active {
                color: #333333;
                font-weight: 700;
            }
        }
    }

    .tab-content {
        padding: 35px 35px 35px 45px;
        
        .tab-pane {
            height: 0;

            p {
                cursor: auto;

                &:hover {
                    color: inherit;
                }
            }

            &.active {
                height: auto;
            }
        }

    }

    .section-desc {
        max-width: 645px;
        margin-bottom: 25px;
        font-size: 18px;
    }
}

.header-card {
    margin-right: 0;

    .img-c {
        width: auto;
        height: 135px;
        border-radius: 4px;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 8px;
        min-width: 220px;
    }

    p {
        color: #333333;
        font-size: 14px;
        font-weight: 500;
        line-height: 2.2;
    }
}

.header-card-list {
    li {
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }
    }
}