.aa-header {
    background-color: $w;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 40px 0;
    z-index: 10;

    .logo {
        // height: 16px;

        img {
            height: 100%;
            width: auto;
        }
    }

    ul {
        display: flex;
        justify-content: end;
        align-items: center;

        li {
            margin-right: 40px;

            &:last-child {
                margin-right: 0;
            }

            a,
            p {
                color: #777576;
                font-size: 15px;
                font-weight: 600;
                letter-spacing: 0.94px;
                transition: all ease 0.3s;
                text-decoration: none;
                cursor: pointer;

                &:hover {
                    text-decoration: none;
                    color: #333333;
                    // font-weight: 700;
                }
            }

            &.search {
                img {
                    height: 16px;
                    width: 16px;
                }
            }

            &.lang {

                a {
                    padding-right: 20px;
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        top: 7px;
                        right: 0;
                        border-right: 1px solid #000000;
                        border-bottom: 1px solid #000000;
                        height: 7px;
                        width: 7px;
                        transform: rotate(45deg);
                    }

                    img {
                        height: 16px;
                        width: auto;
                    }
                }
            }
        }
    }
}

.header-sub-menu {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 104px;
    background-color: #f1ecece8;
    height: 300px;
    transform: translateY(-100%);
    transition: all ease 0.3s;
    z-index: -1;
    opacity: 0;
}

.has-menu:hover {
    .header-sub-menu {
        opacity: 1;
        transform: translateY(0);
    }
}
