.loader-wrapper {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    z-index: 1000;
  }
  
  .loader {
    height: 100px;
    width: 200px;
    display: block;
    position: relative;
    transform: scale(0.7);
    
    &:after {
      content : "";
      position: absolute;
      width: 100%;
      height: 200%;
      background-color: $white;
      top: 50%;
      left: 50%;
      border-radius: 10%;
      transform: translate(-50%,-50%) rotate(45deg);
      animation: appear 2s linear infinite alternate;
    }
    
    img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
  }
  
  @keyframes appear{
      0% {width: 100%;}
      30% {width: 0;}
    70% {width: 0;}
    100% {width: 100%;}
  }
    

.load-more-spinner {
    display: block;
    width: 40px;
    height: 40px;
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    margin: 50px auto 0;

    @media(max-width: 767px) {
        width: 30px;
        height: 30px;
        margin: 10px auto 50px;
    }
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}
