.slider-arrows {
    .slick-arrow {
        height: 40px;
        width: 40px;
        font-size: 0;
        border-radius: 50%;
        border: 1px solid #3fbacb;
        background-color: white;
        margin-right: 20px;
        cursor: pointer;
        position: relative;
        transition: all ease 0.3s;

        &:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            // background-image: url("../assets/images/homepage/right-arrow.svg");
            height: 10px;
            width: 10px;
            border-right: 1px solid $blue-light;
            border-bottom: 1px solid $blue-light;
            transform: translate(-50%, -50%) rotate(-45deg);
        }

        &.slick-prev {
            &::after {
                transform: translate(-50%, -50%) rotate(135deg);
            }
        }

        &:hover {
            transform: scale(1.1);
        }

        &:last-child {
            margin-right: 0;
        }

        &.slick-disabled {
            pointer-events: none;
            opacity: 0.5;
        }
    }
}

.slider-dots {
    z-index: 1;

    .slick-dots {
        display: flex;

        li {
            button {
                height: 7px;
                width: 7px;
                background-color: $w;
                border-radius: 50%;
                border: 1px solid $blue-light;
                font-size: 0;
                margin-right: 8px;
                padding: 0;
                cursor: pointer;
                transition: all ease 0.3s;
            }

            &.slick-active {
                button {
                    background-color: $blue-light;
                }
            }
        }
    }

}

.slider-anim {
    h5,
    h6,
    p {
        transform: translateY(15px);
        transition: all ease 0.6s;
        opacity: 0;
    }
    
    .user-img {
        opacity: 0;
        transform: translateY(25px);
    }
    
    .slick-active {
        
        h6 {
            transition-delay: 0.3s;
        }
        
        p {
            transition-delay: 0.6s;
        }
        
        h5,
        h6,
        p {
            transform: translateY(0);
            opacity: 1;
        }
        
        .user-img {
            transform: rotate(0) translateY(0);
            opacity: 1;
            transition: all ease 0.6s;
        }
    }
}
