section.sec-banner
    .container
        .row
            .col-md-7.m-auto.text-center
                h1 Tomorrow’s Healthcare, today
                p.section-desc Advanced and complete, because we care.
        .row
            .col-12
                .img-c
                    img(src="assets/images/homepage/image-1.png", alt="img")