section.sec-banner
    .container
        .row
            .col-lg-7.m-auto.text-center.text-sm-space
                h1(data-aos="fade-up" data-aos-duration="800") Tomorrow’s Healthcare, today
                p.section-desc(data-aos="fade-up" data-aos-duration="800" data-aos-delay="300") Advanced and complete, because we care.
        .row
            .col-12
                .img-c(data-aos="fade-up" data-aos-duration="800" data-aos-delay="400")
                    img(src="assets/images/homepage/image-1.png", alt="img")