section.sec-padding
    .container
        .row
            .col-12.text-sm-space
                h3(data-aos="fade-up" data-aos-duration="800") Featured Engagements
                p.section-desc(data-aos="fade-up" data-aos-duration="800" data-aos-delay="300") Health articles that keep you informed about the current engagements, ongoing projects
        ul.row.list-style.text-sm-space
            li.col-md-4
                .item(data-aos="fade-up" data-aos-duration="800" data-aos-delay="500")
                    .icon-c(style="background-image: url('assets/images/homepage/icon-1.png')")
                    h5 Clinical Research Centre
                    p.text-desc Ainqa is committed to providing state-of-the-art patient care. Our team is actively researching innovative and advanced treatment aimed at driving healthcare in a positive direction.
            li.col-md-4
                .item(data-aos="fade-up" data-aos-duration="800" data-aos-delay="700")
                    .icon-c(style="background-image: url('assets/images/homepage/icon-2.png')")
                    h5 Affordable full body health checkups
                    p.text-desc Ainqa is committed to providing state-of-the-art patient care. Our team is actively researching innovative and advanced treatment aimed at driving healthcare in a positive direction.
            li.col-md-4
                .item(data-aos="fade-up" data-aos-duration="800" data-aos-delay="900")
                    .icon-c(style="background-image: url('assets/images/homepage/icon-3.png')")
                    h5 Find doctors in top specialities
                    p.text-desc Ainqa is committed to providing state-of-the-art patient care. Our team is actively researching innovative and advanced treatment aimed at driving healthcare in a positive direction.
