section.sec-padding
    .container
        .row
            .col-12
                h3 Featured Engagements
                p.section-desc Health articles that keep you informed about the current engagements, ongoing projects
        ul.row.list-style
            li.col-md-4
                .item
                    .icon-c(style="background-image: url('assets/images/homepage/icon-1.png')")
                    h5 Clinical Research Centre
                    p.text-desc Ainqa is committed to providing state-of-the-art patient care. Our team is actively researching innovative and advanced treatment aimed at driving healthcare in a positive direction.
            li.col-md-4
                .item
                    .icon-c(style="background-image: url('assets/images/homepage/icon-2.png')")
                    h5 Affordable full body health checkups
                    p.text-desc Ainqa is committed to providing state-of-the-art patient care. Our team is actively researching innovative and advanced treatment aimed at driving healthcare in a positive direction.
            li.col-md-4
                .item
                    .icon-c(style="background-image: url('assets/images/homepage/icon-3.png')")
                    h5 Find doctors in top specialities
                    p.text-desc Ainqa is committed to providing state-of-the-art patient care. Our team is actively researching innovative and advanced treatment aimed at driving healthcare in a positive direction.
