section.sec-padding
    .container.container-styling
        .row
            .col-12
                h3(data-aos="fade-up" data-aos-duration="800") Our Featured News
                p.section-desc(data-aos="fade-up" data-aos-duration="800" data-aos-delay="300") Health articles that keep you informed about the current engagements, ongoing projects
        ul.row.card-layout-list
            li.col-md-4
                .card-layout(data-aos="fade-up" data-aos-duration="800" data-aos-delay="500")
                    .img-c(style="background-image: url('assets/images/homepage/image-2.png')")
                    p.date 17 April 2020
                    h5 Global health conference & Exhibition
                    p.text-desc Ainqa is committed to providing state-of-the-art patient care.
                    a.link-blue(href="javascript:void(0)") Read Article
            li.col-md-4
                .card-layout(data-aos="fade-up" data-aos-duration="800" data-aos-delay="700")
                    .img-c(style="background-image: url('assets/images/homepage/image-3.png')")
                    p.date 17 April 2020
                    h5 Global health conference & Exhibition
                    p.text-desc Ainqa is committed to providing state-of-the-art patient care.
                    a.link-blue(href="javascript:void(0)") Read Article
            li.col-md-4
                .card-layout(data-aos="fade-up" data-aos-duration="800" data-aos-delay="900")
                    .img-c(style="background-image: url('assets/images/homepage/image-4.png')")
                    p.date 17 April 2020
                    h5 Global health conference & Exhibition
                    p.text-desc Ainqa is committed to providing state-of-the-art patient care.
                    a.link-blue(href="javascript:void(0)") Read Article
            a.link-blue.see-all(href="javascript:void(0)" data-aos="zoom-in" data-aos-duration="800" data-aos-delay="1100") See All