section.sec-padding
    .container
        .row
            .col-12.text-sm-space
                h3(data-aos="fade-up" data-aos-duration="800") Here’s What Our Clients Are Saying
                p.section-desc(data-aos="fade-up" data-aos-duration="800" data-aos-delay="300") Health articles that keep you informed about the current engagements, ongoing projects
        ul.js-homepage-review.slider-anim(data-aos="fade-in" data-aos-duration="800" data-aos-delay="400")
            li
                .row.review-card
                    .col-md-3
                        .user-img   
                            img(src="assets/images/homepage/user-pic.png", alt="user")
                    .col-md-8.offset-md-1
                        .review
                            h5 Mac Fadra
                            h6 Maxim Facial Aesthetics, Cosmetic Medical Partners, Maxim Breast Surgery
                            p.text-desc Ainqa was extremely creative and forward thinking when redesigning our website. They are also very quick and efficient when executing changes for us. I am very pleased with the immaculate, professional look of our website. We receive great compliments from our patients and have increased traffic and use of our site due to the excellent visibility we have in search and how easy it is for patients to navigate our website.
                            .quotes(style="background-image: url('assets/images/homepage/quotes.svg')")
            li
                .row.review-card
                    .col-md-3
                        .user-img   
                            img(src="assets/images/homepage/user-pic.png", alt="user")
                    .col-md-8.offset-md-1
                        .review
                            h5 2 Mac Fadra
                            h6 Maxim Facial Aesthetics, Cosmetic Medical Partners, Maxim Breast Surgery
                            p.text-desc Ainqa was extremely creative and forward thinking when redesigning our website. They are also very quick and efficient when executing changes for us. I am very pleased with the immaculate, professional look of our website. We receive great compliments from our patients and have increased traffic and use of our site due to the excellent visibility we have in search and how easy it is for patients to navigate our website.
                            .quotes(style="background-image: url('assets/images/homepage/quotes.svg')")
            li
                .row.review-card
                    .col-md-3
                        .user-img   
                            img(src="assets/images/homepage/user-pic.png", alt="user")
                    .col-md-8.offset-md-1
                        .review
                            h5 3 Mac Fadra
                            h6 Maxim Facial Aesthetics, Cosmetic Medical Partners, Maxim Breast Surgery
                            p.text-desc Ainqa was extremely creative and forward thinking when redesigning our website. They are also very quick and efficient when executing changes for us. I am very pleased with the immaculate, professional look of our website. We receive great compliments from our patients and have increased traffic and use of our site due to the excellent visibility we have in search and how easy it is for patients to navigate our website.
                            .quotes(style="background-image: url('assets/images/homepage/quotes.svg')")
            li
                .row.review-card
                    .col-md-3
                        .user-img   
                            img(src="assets/images/homepage/user-pic.png", alt="user")
                    .col-md-8.offset-md-1
                        .review
                            h5 4 Mac Fadra
                            h6 Maxim Facial Aesthetics, Cosmetic Medical Partners, Maxim Breast Surgery
                            p.text-desc Ainqa was extremely creative and forward thinking when redesigning our website. They are also very quick and efficient when executing changes for us. I am very pleased with the immaculate, professional look of our website. We receive great compliments from our patients and have increased traffic and use of our site due to the excellent visibility we have in search and how easy it is for patients to navigate our website.
                            .quotes(style="background-image: url('assets/images/homepage/quotes.svg')")
            li
                .row.review-card
                    .col-md-3
                        .user-img   
                            img(src="assets/images/homepage/user-pic.png", alt="user")
                    .col-md-8.offset-md-1
                        .review
                            h5 5 Mac Fadra
                            h6 Maxim Facial Aesthetics, Cosmetic Medical Partners, Maxim Breast Surgery
                            p.text-desc Ainqa was extremely creative and forward thinking when redesigning our website. They are also very quick and efficient when executing changes for us. I am very pleased with the immaculate, professional look of our website. We receive great compliments from our patients and have increased traffic and use of our site due to the excellent visibility we have in search and how easy it is for patients to navigate our website.
                            .quotes(style="background-image: url('assets/images/homepage/quotes.svg')")
        .row
            .col-md-8.d-flex.justify-content-between.offset-md-4.text-sm-space
                .slider-dots(data-aos="zoom-in" data-aos-duration="800" data-aos-delay="500")
                .slider-arrows(data-aos="zoom-in" data-aos-duration="800" data-aos-delay="500")