section.sec-banner-bc
    .container
        .row
            .col-12.text-sm-space
                ul.breadcrumbs(data-aos="fade-in" data-aos-duration="500" data-aos-delay="500")
                    li
                        a(href="index.html") Home
                    li
                        p Consulting
        .row
            .col-12.text-center.text-sm-space
                h1.mid(data-aos="fade-up" data-aos-duration="800") The Healthcare Consulting Vision
                p.section-desc(data-aos="fade-up" data-aos-duration="800" data-aos-delay="300") Find your full potential for health and well-being across the lifespan
        .row
            .col-12.text-center
                .img-c(data-aos="fade-up" data-aos-duration="800" data-aos-delay="400")
                    img(src="assets/images/consulting/image-1.png", alt="banner")

                    