section.sec-consult
    .container
        .row
            .col-md-8.text-sm-space.order-2
                h4(data-aos="fade-up" data-aos-duration="800") Independent Payor Management
                h5.small(data-aos="fade-up" data-aos-duration="800" data-aos-delay="300") Managing Healthcare Process
                p.text-desc(data-aos="fade-up" data-aos-duration="800" data-aos-delay="400") Managing healthcare costs in a challenging economic cycle is difficult for all stakeholders, requiring the best systems available. Accessing the right patient demographic information, clinical history, and financial coverage facilitates managing patient care. Payors require accurate data to manage their scarce financial resources more effectively. We simplify this task by providing the appropriate information about the people they cover, the providers with which they interact, and other third parties that jointly manage the care of any particular patient. But GCI’s global exposure to managing different models, state policies and financial frameworks allows us to be well poised to provide sound advice in determining the required standardization of processes. This will help enhance patient care while ensuring effective resource utilization and low healthcare costs.

                .img-c(data-aos="fade-up" data-aos-duration="800" data-aos-delay="500")
                    img(src="assets/images/consulting/image-2.png", alt="banner")

                //- ul.consult-list
                //-     li(data-aos="fade-up" data-aos-duration="800")
                //-         .img-c
                //-             img(src="assets/images/consulting/image-3.png", alt="banner")
                //-         div
                //-             h5 Headline goes here
                //-             p.text-desc Payors require accurate data to manage their scarce financial resources more effectively. We simplify this task by providing the appropriate information about the people they cover, the providers with which they interact, and other third parties that jointly manage the care of any particular patient.There are no real formulae or financial models that encompass all scenarios that any healthcare facility can face.
                //-     li(data-aos="fade-up" data-aos-duration="800" data-aos-delay="300")
                //-         .img-c
                //-             img(src="assets/images/consulting/image-4.png", alt="banner")
                //-         div
                //-             h5 Headline goes here
                //-             p.text-desc Payors require accurate data to manage their scarce financial resources more effectively. We simplify this task by providing the appropriate information about the people they cover, the providers with which they interact, and other third parties that jointly manage the care of any particular patient.There are no real formulae or financial models that encompass all scenarios that any healthcare facility can face.
            
            .col-md-4.col-lg-2.offset-lg-2.text-sm-space.order-md-2
                ul.side-menu.js-right-sticky
                    h5(data-aos="fade-up" data-aos-duration="800") Consulting
                    li.active(data-aos="fade-up" data-aos-duration="800")
                        a(href="javascript:void(0)") Independent Payor Management
                    li(data-aos="fade-up" data-aos-duration="800" data-aos-delay="100")
                        a(href="javascript:void(0)") Employer Services
                    li(data-aos="fade-up" data-aos-duration="800" data-aos-delay="200")
                        a(href="javascript:void(0)") Healthcare Industry Standards Compliance Services