section.sub-box
    .container(style="background-image: url('assets/images/consulting/sub-box-bg.png');")
        .row
            .col-12
                h5.white(data-aos="fade-up" data-aos-duration="800") Stay updated with our latest work
        .row
            .col-md-6
                p.text-desc.white(data-aos="fade-up" data-aos-duration="800" data-aos-delay="100") Managing healthcare costs in a challenging economic cycle is difficult for all stakeholders, requiring the best systems available.
            .col-md-6.vertical-center
                .form-group(data-aos="fade-up" data-aos-duration="800" data-aos-delay="200")
                    input(type="email", name="subscribe" placeholder="Enter your email address")
                    button Subscribe
