section
    .container
        .row
            .col-lg-9.text-sm-space.order-2
                ul.white-card-list
                    li(data-aos="fade-up" data-aos-duration="800")
                        .img-c
                            img(src="assets/images/whitepapers/img-1.png", alt="img")
                        .desc
                            h6 Healthcare Technology
                            h5 Innovation in AI and Healthcare
                            p Managing healthcare costs in a challenging economic cycle is difficult for all stakeholders, requiring the best systems available. 
                            p.date 5 May 2020
                    li.img-right(data-aos="fade-up" data-aos-duration="800")
                        .desc
                            h6 Healthcare Technology
                            h5 Re-imagining tech start-ups with new age tech
                            p Managing healthcare costs in a challenging economic cycle is difficult for all stakeholders, requiring the best systems available. 
                            p.date 5 May 2020
                        .img-c
                            img(src="assets/images/whitepapers/img-2.png", alt="img")
                    li(data-aos="fade-up" data-aos-duration="800")
                        .img-c
                            img(src="assets/images/whitepapers/img-3.png", alt="img")
                        .desc
                            h6 Healthcare Technology
                            h5 Innovation in AI and Healthcare
                            p Managing healthcare costs in a challenging economic cycle is difficult for all stakeholders, requiring the best systems available. 
                            p.date 5 May 2020
                    li.img-right(data-aos="fade-up" data-aos-duration="800")
                        .desc
                            h6 Healthcare Technology
                            h5 Re-imagining tech start-ups with new age tech
                            p Managing healthcare costs in a challenging economic cycle is difficult for all stakeholders, requiring the best systems available. 
                            p.date 5 May 2020
                        .img-c
                            img(src="assets/images/whitepapers/img-4.png", alt="img")
               
            .col-lg-2.text-sm-space.order-lg-2.offset-lg-1
                ul.side-menu.js-right-sticky
                    li(data-aos="fade-up" data-aos-duration="800")
                        a(href="case-studies.html") Case Studies
                    li.active(data-aos="fade-up" data-aos-duration="800")
                        a(href="whitepapers.html") Whitepapers
                    li(data-aos="fade-up" data-aos-duration="800")
                        a(href="blogs.html") Blogs
                    li(data-aos="fade-up" data-aos-duration="800")
                        a(href="news-media.html") News and Media
                    li(data-aos="fade-up" data-aos-duration="800")
                        a(href="javascript:void(0)") Events
                    li(data-aos="fade-up" data-aos-duration="800")
                        a(href="javascript:void(0)") Archived