section.sec-padding
    .container
        .row
            .col-lg-9.text-sm-space.order-2
                h4(data-aos="fade-up" data-aos-duration="800") Blogs
                ul.blog-list(data-aos="fade-up" data-aos-duration="800")
                    li
                        a(href="javascript:void(0)")
                            .img-c
                                img(src="assets/images/blogs/image-1.png", alt="img")
                            .desc
                                h6 Community
                                h5 The Department of Health and Human Services 
                                p 
                                    | By  
                                    span Mark Doe  
                                    span.date 5 May 2020
                    li
                        a(href="javascript:void(0)")
                            .img-c
                                img(src="assets/images/blogs/image-2.png", alt="img")
                            .desc
                                h6 Community
                                h5 Healthcare IT News
                                p 
                                    | By  
                                    span Mark Doe  
                                    span.date 5 May 2020
                    li
                        a(href="javascript:void(0)")
                            .img-c
                                img(src="assets/images/blogs/image-3.png", alt="img")
                            .desc
                                h6 Community
                                h5 Foley Health Care Law Today
                                p 
                                    | By  
                                    span Mark Doe  
                                    span.date 5 May 2020
                    li
                        a(href="javascript:void(0)")
                            .img-c
                                img(src="assets/images/blogs/image-1.png", alt="img")
                            .desc
                                h6 Community
                                h5 Foley Health Care Law Today
                                p 
                                    | By  
                                    span Mark Doe  
                                    span.date 5 May 2020
                    li
                        a(href="javascript:void(0)")
                            .img-c
                                img(src="assets/images/blogs/image-4.png", alt="img")
                            .desc
                                h6 Community
                                h5 Foley Health Care Law Today
                                p 
                                    | By  
                                    span Mark Doe  
                                    span.date 5 May 2020
                    li
                        a(href="javascript:void(0)")
                            .img-c
                                img(src="assets/images/blogs/image-5.png", alt="img")
                            .desc
                                h6 Community
                                h5 Foley Health Care Law Today
                                p 
                                    | By  
                                    span Mark Doe  
                                    span.date 5 May 2020
                    li
                        a(href="javascript:void(0)")
                            .img-c
                                img(src="assets/images/blogs/image-6.png", alt="img")
                            .desc
                                h6 Community
                                h5 Foley Health Care Law Today
                                p 
                                    | By  
                                    span Mark Doe  
                                    span.date 5 May 2020
                    li
                        a(href="javascript:void(0)")
                            .img-c
                                img(src="assets/images/blogs/image-1.png", alt="img")
                            .desc
                                h6 Community
                                h5 Foley Health Care Law Today
                                p 
                                    | By  
                                    span Mark Doe  
                                    span.date 5 May 2020
                    li
                        a(href="javascript:void(0)")
                            .img-c
                                img(src="assets/images/blogs/image-1.png", alt="img")
                            .desc
                                h6 Community
                                h5 Foley Health Care Law Today
                                p 
                                    | By  
                                    span Mark Doe  
                                    span.date 5 May 2020
                    li
                        a(href="javascript:void(0)")
                            .img-c
                                img(src="assets/images/blogs/image-7.png", alt="img")
                            .desc
                                h6 Community
                                h5 Foley Health Care Law Today
                                p 
                                    | By  
                                    span Mark Doe  
                                    span.date 5 May 2020
                button.bttn-2.m-auto.m-lg-0(data-aos="fade-up" data-aos-duration="800") Read More
            .col-lg-2.text-sm-space.order-lg-2.offset-lg-1
                ul.side-menu.js-right-sticky
                    li(data-aos="fade-up" data-aos-duration="800")
                        a(href="case-studies.html") Case Studies
                    li(data-aos="fade-up" data-aos-duration="800")
                        a(href="whitepapers.html") Whitepapers
                    li.active(data-aos="fade-up" data-aos-duration="800")
                        a(href="blogs.html") Blogs
                    li(data-aos="fade-up" data-aos-duration="800")
                        a(href="news-media.html") News and Media
                    li(data-aos="fade-up" data-aos-duration="800")
                        a(href="javascript:void(0)") Events
                    li(data-aos="fade-up" data-aos-duration="800")
                        a(href="archived.html") Archived