h4 Media
.a-card
    .img-c
        img(src="assets/images/news/image-1.png", alt="img")
    .desc 
        p.sec-date 1 hour ago
        h5 Recombinant proteins for COVID-19 research
        p.text-desc Coronaviruses contain a non-segmented, positive-sense RNA genome and are known to affect humans, mammals, and birds. 
        a.link-blue(href="javascript:void(0)") Visit Source

ul.a-card-list
    li
        .a-card
            .img-c
                img(src="assets/images/news/image-2.png", alt="img")
            .desc 
                p.sec-date 4 May 2020
                h5 The hunt for a Covid-19 vaccine
                p.text-desc Science offers hope in the search for vaccines and treatments for Covid-19
                a.link-blue(href="javascript:void(0)") Visit Source
    li
        .a-card
            .img-c
                img(src="assets/images/news/image-3.png", alt="img")
            .desc 
                p.sec-date 4 May 2020
                h5 The hunt for a Covid-19 vaccine
                p.text-desc Science offers hope in the search for vaccines and treatments for Covid-19
                a.link-blue(href="javascript:void(0)") Visit Source

